body,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

:visited {
  color: inherit;
}

:link {
  color: inherit;
  text-decoration: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -4;
  background-size: 200% 200%;
  background: url("~@/assets/imgs/background/main_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-obj,
.bg-pic {
  position: absolute;
}

.bg-pic.pic1 {
  width: 15rem;
  height: auto;
  top: 50%;
  left: 60%;
}
.bg-pic.pic2 {
  width: 7rem;
  height: auto;
  top: 26%;
  left: 25%;
}
.bg-pic.pic3 {
  width: 9rem;
  height: auto;
  top: 37%;
  left: 17%;
}

.bg-obj.obj1 {
  width: 7rem;
  height: auto;
  top: 25%;
  left: 60%;
  opacity: 0.8;
}
.bg-obj.obj2 {
  width: 6.5rem;
  height: auto;
  top: 5%;
  left: 20%;
  opacity: 0.8;
}

.nav-section {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: auto;
}

.main-nav {
  font-family: "DungGeunMo";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.main-nav-item {
  flex: 1;
  cursor: pointer;
  padding: 0.5rem 0;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-img {
  height: 3rem;
  width: auto;
}

.content-container {
  margin: 8rem auto 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  height: 100%;
  max-width: 1000px;
  position: relative;
  /* min-height: 100%; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.spacer {
  flex-grow: 1;
  width: calc(100% - 4rem);
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(204, 174, 166);
}

.route-view {
  margin: 0 auto;
  overflow-y: auto;
  background-color: rgb(204, 174, 166);
  width: calc(100% - 6rem);
  padding: 1rem 3rem;
  height: calc(100% - 10rem);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

input[type="checkbox"]:checked + label::before {
  background-color: rgb(71, 45, 45);
  border-color: rgb(71, 45, 45);
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-label {
  margin-left: 0.3rem;
}

.bg-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99;
  display: flex;
  align-content: center;
  align-items: center;
}

.icon {
  position: relative;
  top: 3px;
  padding: 0 3px;
}

/* @media */
@media (max-width: 1920px) {
}

@media (max-width: 1200px) {
  .site-title {
    height: 9rem;
  }
  .main-nav {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 1000px) {
  .main-nav-item {
    padding: 0.5rem 0;
  }
}

@media (max-width: 850px) {
  .site-title {
    height: 8rem;
  }
  .main-nav {
    padding: 1rem 0.7rem;
  }
}

@media (max-width: 700px) {
  .site-title {
    height: 6rem;
  }
  .main-nav {
    padding: 0.7rem;
    font-size: 1rem;
  }
  .nav-img {
    height: 2.5rem;
  }
  .content-container {
    margin: 5rem auto 0 auto;
    padding: 0;
  }
  .route-view {
    height: 100%;
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
  }
  .route-intro {
    height: calc(100% - 20rem);
  }
}

/* font */
@font-face {
  font-family: "garam lotus";
  src: url("../fonts/나눔손글씨\ 가람연꽃.ttf");
}

@font-face {
  font-family: "DungGeunMo";
  src: url("../fonts/DungGeunMo.ttf");
}

@font-face {
  font-family: "palatino";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/palatinolinotype_roman.ttf");
}

@font-face {
  font-family: "palatino";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/palatinolinotype_bold.ttf");
}

@font-face {
  font-family: "palatino";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/palatinolinotype_italic.ttf");
}

@font-face {
  font-family: "palatino";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/palatinolinotype_bolditalic.ttf");
}
