/* 전역 파일임!!! 주의 필 */

.header {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  flex-shrink: 0;
  background-color: rgb(204, 174, 166);

  border-bottom: 3px solid #472d2d;
}

.logo-section {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  /* background: linear-gradient(55deg, #f3cb53 45%, #ff968f 55%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important; */
  color: transparent !important;
  cursor: pointer !important;
}

.logo-item {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 4rem;
  color: #472d2d;
}

.info-section {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: #472d2d;
  border-top: 1px solid #472d2d;
  border-bottom: 1px solid #472d2d;
  text-align: center;
}

.nav {
  font-family: "Palatino Linotype";
  font-style: italic;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  color: #472d2d;
}

.nav-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover:not(.is-active) {
  color: #fff;
  fill: #fff;
}

.nav-item.is-active {
  /* color: #f3cb53; */
  background-color: #472d2d;
  color: #fff;
}

@media (max-width: 900px) {
  .logo-item {
    font-size: 3rem;
  }
  .info-section {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .logo-item {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .info-section {
    font-size: 0.7rem;
  }
  .long-item {
    position: relative;
    font-size: 0.7rem;
    top: 2px;
  }
  .nav-item .unicon svg {
    width: 10px !important;
    height: 10px !important;
  }
  .nav-item .icon {
    padding: 0;
  }
}
