.main-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8c96f8;
}

.site-title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: 13rem;
}

.site-title {
  height: 10rem;
  width: auto;
  padding-bottom: 3rem;
}

.nav-section {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: auto;
}

.main-nav {
  font-family: "DungGeunMo";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.main-nav-item {
  flex: 1;
  cursor: pointer;
  padding: 0.5rem 0;
  position: relative;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-img {
  height: 3rem;
  width: auto;
}

/* @media */
@media (max-width: 1920px) {
}

@media (max-width: 1200px) {
  .site-title {
    height: 9rem;
  }
  .main-nav {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 1000px) {
  .main-nav-item {
    padding: 0.5rem 0;
  }
}

@media (max-width: 850px) {
  .site-title {
    height: 8rem;
  }
  .main-nav {
    padding: 1rem 0.7rem;
  }
}

@media (max-width: 700px) {
  .site-title {
    height: 6rem;
  }
  .main-nav {
    padding: 0.7rem;
    font-size: 1rem;
  }
  .nav-img {
    height: 2.5rem;
  }
}
